.attribution {
  display: flex;
  font-size: 1.1rem;
  text-align: center;
  align-items: flex-end;
  font-family: "Lexend Deca", sans-serif;
  
  a {
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    transition: 0.2s ease-in-out;

    &:hover {
      color: hsl(184, 100%, 22%);
    }
  }
}
